ion-spinner {
    position: static !important;
}

.spinner-md-crescent circle {
    stroke: white !important;
}

ion-spinner svg {
    left: 36% !important;
    top: 36%  !important;
    width: 80px  !important;
    height: 80px  !important;
}
